<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.TrainBasicInfoMapper">


    <resultMap id="trainBasicInfo" type="com.example.demo.entity.TrainBasicInfo">
        <id column="id" property="id"/>
        <result column="train_no" property="trainNo"/>
        <result column="start_station_name" property="startStationName"/>
        <result column="end_station_name" property="endStationName"/>
        <result column="depart_station_name" property="departStationName"/>
        <result column="dest_station_name" property="destStationName"/>
        <result column="departure_date" property="departureDate"/>
        <result column="distance" property="distance"/>
        <result column="ydz" property="ydz"/>
        <result column="edz" property="edz"/>
        <result column="swz" property="swz"/>
        <result column="tdz" property="tdz"/>
        <result column="rz" property="rz"/>
        <result column="yz" property="yz"/>
        <result column="gjrws" property="gjrws"/>
        <result column="gjrwx" property="gjrwx"/>
        <result column="dws" property="dws"/>
        <result column="dwx" property="dwx"/>
        <result column="ydws" property="ydws"/>
        <result column="ydwx" property="ydwx"/>
        <result column="edws" property="edws"/>
        <result column="edwz" property="edwz"/>
        <result column="edwx" property="edwx"/>
        <result column="wz" property="wz"/>
        <result column="qt" property="qt"/>
        <result column="rws" property="rws"/>
        <result column="rwx" property="rwx"/>
        <result column="yws" property="yws"/>
        <result column="ywz" property="ywz"/>
        <result column="ywx" property="ywx"/>
        <result column="add_time" property="addTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <sql id="columns">
        id,train_no,start_station_name,end_station_name,depart_station_name,dest_station_name,distance,ydz,edz,swz,tdz,rz,yz,gjrws,gjrwx,dws,dwx,ydws,ydwx,edws,edwz,edwx,wz,qt,rws,rwx,yws,ywz,ywx,add_time,update_time
    </sql>

    <select id="selectOne" resultMap="trainBasicInfo" parameterType="com.example.demo.entity.TrainBasicInfo">
        select
        <include refid="columns"/>
        from train_basic_info
        <where>
            <if test="trainNo != null">
                train_no = #{trainNo}
            </if>
            <if test="departStationName != null">
                and depart_station_name = #{departStationName}
            </if>
            <if test="destStationName != null">
                and dest_station_name = #{destStationName}
            </if>
            <if test="departureDate != null">
                and departure_date = #{departureDate}
            </if>
        </where>
        limit 1
    </select>

    <insert id="insert" parameterType="com.example.demo.entity.TrainBasicInfo">
        insert into train_basic_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="trainNo != null">
                train_no ,
            </if>
            <if test="startStationName != null">
                start_station_name ,
            </if>
            <if test="endStationName != null">
                end_station_name ,
            </if>
            <if test="departStationName != null">
                depart_station_name ,
            </if>
            <if test="destStationName != null">
                dest_station_name,
            </if>
            <if test="departureDate != null">
                departure_date,
            </if>
            <if test="distance != null">
                distance,
            </if>
            <if test="ydz != null">
                ydz,
            </if>
            <if test="edz != null">
                edz,
            </if>
            <if test="swz != null">
                swz,
            </if>
            <if test="tdz != null">
                tdz,
            </if>
            <if test="rz != null">
                rz,
            </if>
            <if test="yz != null">
                yz,
            </if>
            <if test="gjrws != null">
                gjrws,
            </if>
            <if test="gjrwx != null">
                gjrwx,
            </if>
            <if test="dws != null">
                dws,
            </if>
            <if test="dwx != null">
                dwx,
            </if>
            <if test="ydws != null">
                ydws,
            </if>
            <if test="ydwx != null">
                ydwx,
            </if>
            <if test="edws != null">
                edws,
            </if>
            <if test="edwz != null">
                edwz,
            </if>
            <if test="edwx != null">
                edwx,
            </if>
            <if test="wz != null">
                wz,
            </if>
            <if test="qt != null">
                qt,
            </if>
            <if test="rws != null">
                rws,
            </if>
            <if test="rwx != null">
                rwx,
            </if>
            <if test="yws != null">
                yws,
            </if>
            <if test="ywz != null">
                ywz,
            </if>
            <if test="ywx != null">
                ywx,
            </if>
            <if test="addTime != null">
                add_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="trainNo != null">
                #{trainNo},
            </if>
            <if test="startStationName != null">
                #{startStationName},
            </if>
            <if test="endStationName != null">
                #{endStationName} ,
            </if>
            <if test="departStationName != null">
                #{departStationName} ,
            </if>
            <if test="destStationName != null">
                #{destStationName} ,
            </if>
            <if test="departureDate != null">
                #{departureDate},
            </if>
            <if test="distance != null">
                #{distance} ,
            </if>
            <if test="ydz != null">
                #{ydz} ,
            </if>
            <if test="edz != null">
                #{edz} ,
            </if>
            <if test="swz != null">
                #{swz} ,
            </if>
            <if test="tdz != null">
                #{tdz} ,
            </if>
            <if test="rz != null">
                #{rz} ,
            </if>
            <if test="yz != null">
                #{yz} ,
            </if>
            <if test="gjrws != null">
                #{gjrws} ,
            </if>
            <if test="gjrwx != null">
                #{gjrwx} ,
            </if>
            <if test="dws != null">
                #{dws} ,
            </if>
            <if test="dwx != null">
                #{dwx} ,
            </if>
            <if test="ydws != null">
                #{ydws} ,
            </if>
            <if test="ydwx != null">
                #{ydwx} ,
            </if>
            <if test="edws != null">
                #{edws} ,
            </if>
            <if test="edwz != null">
                #{edwz} ,
            </if>
            <if test="edwx != null">
                #{edwx} ,
            </if>
            <if test="wz != null">
                #{wz} ,
            </if>
            <if test="qt != null">
                #{qt} ,
            </if>
            <if test="rws != null">
                #{rws} ,
            </if>
            <if test="rwx != null">
                #{rwx} ,
            </if>
            <if test="yws != null">
                #{yws} ,
            </if>
            <if test="ywz != null">
                #{ywz} ,
            </if>
            <if test="ywx != null">
                #{ywx} ,
            </if>
            <if test="addTime != null">
                #{addTime} ,
            </if>
            <if test="updateTime != null">
                #{updateTime} ,
            </if>
        </trim>
    </insert>


    <insert id="batchInsert" parameterType="com.example.demo.entity.TrainBasicInfo">
        insert into train_basic_info
        (rain_no , start_station_name , end_station_name , depart_station_name , dest_station_name, departure_date,
        distance, ydz, edz, swz, tdz, rz, yz, gjrws, gjrwx, dws, dwx, ydws, ydwx, edws, edwz, edwx, wz, qt, rws, rwx,
        yws, ywz, ywx, add_time, update_time
        values
        <foreach collection="list" index="index" item="item" separator=",">
            (#{item.trainNo}, #{item.startStationName}, #{item.endStationName} , #{item.departStationName} ,
            #{item.destStationName} , #{item.departureDate}, #{item.distance} , #{item.ydz} , #{item.edz} , #{item.swz}
            , #{item.tdz} , #{item.rz} , #{item.yz} , #{item.gjrws} , #{item.gjrwx} , #{item.dws} , #{item.dwx} ,
            #{item.ydws} , #{item.ydwx} , #{item.edws} , #{item.edwz} , #{item.edwx} , #{item.item.wz} , #{item.item.qt}
            , #{item.rws} , #{item.rwx} , #{item.yws} , #{item.ywz} , #{item.ywx} , #{item.addTime} ,
            #{item.updateTime})
        </foreach>
    </insert>

</mapper>